@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;
}
body{
    background:linear-gradient(to right, rgba(0,0,255, .7), rgba(255,0,127,.7));
    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form{
    height: 30rem;
    width: 25rem;
    background-color: rgba(255,255,255,.09);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border-left:1px solid rgba(255, 255, 255,.5);
    border-top:1px solid rgba(255, 255, 255,.5);
}
form:before{
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgb(241, 76, 241);
    right: 26%;
    position: absolute;
    bottom: 3%;
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
}
form:after{
    content: '';
    width: 120px;
    height: 120px;
    background-color: rgb(138, 0, 138);
    left: 32%;
    position: absolute;
    top: 6%;
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255,255,.8);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0,0,.3);
    opacity: .9;
    margin-bottom:3% ;
}
label{
    margin-left: 10%;
    color: rgba(255, 255,255,.8);
    font-size: 20px;
    opacity: .7;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);
}
input{
    width: 80%;
    margin: 5% auto;
    margin-top: 8%;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    
}
button{
    margin: 10%  auto 3%;
    width: 40%;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255,.01);
    border-radius: 15px;
    padding: 15px 30px;
    opacity: .7;
    border-left: 1px solid rgba(255, 255, 255, .9);
    border-top: 1px solid rgba(255, 255, 255, .9);
    box-shadow: 2px 2px 4px rgba(255, 255, 255,.5);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, .3);
}
a{
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: .6;
}